#nestedparagraph{
	margin-top: 0px;
	font-family: arial;
}
.top {
	width: 920px;
	height: 120px;
	margin-bottom: 20px;
	background: #CCC; 
}

.left{
	width: 280px;
	height: 580px;
	float: left;
	padding:10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background: #CCC; 
	}

.container {
	width: 600px;
	height: 600px;
	float: left; 
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px; 
	margin-left: 20px; 
	background: rgb(55,93,45); 
}
.subcontainer {
	width: 400px;
	height: 400px;
	margin-top: 166px;
	margin-right: 100px;
	margin-left: 100px;
	float: left;
	background: rgb(72,78,80); 
	}
.smallerbox {
	width: 200px;
	height: 200px;
	float: left;
	margin-top: 148px;
	margin-right: 100px;
	margin-left: 100px;
	background: rgb(46,51,58); 
	}

.final {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 50px;
	margin-top: 75px;
	margin-left: 50px;
	background: rgb(15,18,20); 
	}

